.recommended-img{
  margin-top: 30px;
  margin-left: 450px;
  margin-bottom: 20px;
  width: 500px;
}

.recommended-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 30px;
}
.img-recommended{
  display: inline-block;
  width: 225px;
  vertical-align: top;
  margin-top: 0px;
}
.recommended-title{
  color: white;
  font-size: larger;
}
.recommended-info{
  color: white;
  font-size: smaller;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
  width: 215px;
}

.r1,
.r2,
.r3,
.r4{
  background-color: rgb(103, 52, 123);
}
.know-more-button1,
.know-more-button2,
.know-more-button3,
.know-more-button4{
  opacity: 0;
}

.r1{position: absolute;
  left:80px;
  transition: padding-top 0.15s,
  padding-bottom 0.15s,
  padding-left 0.15s,
  width 0.15s,
  height 0.15s;
  
}
.r1:hover{
  width: 300px;
  height: 375px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  box-shadow: 0 0 50px rgb(255, 255, 255);
  z-index: 10;
  opacity: 1;
  
}
.r1:hover .know-more-button1{
  opacity: 1;
}

.r2{position: absolute;
  left: 400px;
  transition: padding-top 0.15s,
  padding-bottom 0.15s,
  padding-left 0.15s,
  width 0.15s,
  height 0.15s;
  
}
.r2:hover{
  width: 300px;
  height: 375px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  box-shadow: 0 0 50px rgb(255, 255, 255);
  z-index: 10;
}
.r2:hover .know-more-button2{
  opacity: 1;
}

.r3{position: absolute;
  left:740px;
  transition: padding-top 0.15s,
  padding-bottom 0.15s,
  padding-left 0.15s,
  width 0.15s,
  height 0.15s;
  
}
.r3:hover{
  width: 300px;
  height: 375px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  box-shadow: 0 0 50px rgb(255, 255, 255);
  z-index: 10;
}
.r3:hover .know-more-button3{
  opacity: 1;
}

.r4{position: absolute;
  left: 1050px;
  transition: padding-top 0.15s,
  padding-bottom 0.15s,
  padding-left 0.15s,
  width 0.15s,
  height 0.15s;
  
}
.r4:hover{
  width: 300px;
  height: 375px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  box-shadow: 0 0 50px rgb(255, 255, 255);
  z-index: 10;
}
.r4:hover .know-more-button4{
  opacity: 1;
}
.recommended-title,
.artist-name,
.recommended-info{
  margin-left: 10px;
}